<!-- frontend code for image processing -->
<html>
<title> Image Processing </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
<body>
<center>

<br>
<h1>Image Processing</h1><hr>
<form method="post" action="/" enctype="multipart/form-data"><br><br>
    <h2>Select an Image for Rotating</h2>

<form action="/upload" method="post" enctype="multipart/form-data">
  <h2>Image Upload Form</h2>
  
  <input type="file" name="file" class="form-control-file">
  <br>
  
  <input type="submit" value="Submit" class="btn btn-primary">
  <br>
</form>



	#write code from here

    <img src="{{ url_for('display_image', filename=filename) }}">
</form>


</center>
</body>
</html>











